.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.container-chart {
  width: 40%;
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(173, 186, 195, 0.2);
  border-radius: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
